@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?e6wtgy');
  src:  url('fonts/icomoon.eot?e6wtgy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?e6wtgy') format('truetype'),
    url('fonts/icomoon.woff?e6wtgy') format('woff'),
    url('fonts/icomoon.svg?e6wtgy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-marlo-icon:before {
  content: "\e993";
}
.icon-folder:before {
  content: "\e990";
}
.icon-details:before {
  content: "\e991";
}
.icon-external-link:before {
  content: "\e992";
}
.icon-send:before {
  content: "\e98f";
}
.icon-arrow-left2:before {
  content: "\e98d";
}
.icon-arrow-right2:before {
  content: "\e98e";
}
.icon-note:before {
  content: "\e98c";
}
.icon-play:before {
  content: "\e98b";
}
.icon-idea:before {
  content: "\e98a";
}
.icon-telephone-filled:before {
  content: "\e986";
}
.icon-location-filled:before {
  content: "\e987";
}
.icon-building:before {
  content: "\e988";
}
.icon-user-rounded:before {
  content: "\e989";
}
.icon-yoro:before {
  content: "\e984";
}
.icon-shekel:before {
  content: "\e985";
}
.icon-eye1:before {
  content: "\e982";
}
.icon-message-2:before {
  content: "\e983";
}
.icon-email1:before {
  content: "\e955";
}
.icon-money:before {
  content: "\e956";
}
.icon-save-money:before {
  content: "\e95f";
}
.icon-info:before {
  content: "\e97c";
}
.icon-card:before {
  content: "\e97d";
}
.icon-gear:before {
  content: "\e97e";
}
.icon-message:before {
  content: "\e97f";
}
.icon-target:before {
  content: "\e980";
}
.icon-printing:before {
  content: "\e981";
}
.icon-Polygon:before {
  content: "\e952";
  color: #fff;
}
.icon-location:before {
  content: "\e95e";
}
.icon-insurance:before {
  content: "\e953";
}
.icon-balance:before {
  content: "\e954";
}
.icon-donation:before {
  content: "\e957";
}
.icon-cpu:before {
  content: "\e958";
}
.icon-fire-flame:before {
  content: "\e959";
}
.icon-police-station1:before {
  content: "\e95a";
}
.icon-hand-holding-leaves:before {
  content: "\e95b";
}
.icon-steering-wheel:before {
  content: "\e95c";
}
.icon-book:before {
  content: "\e951";
}
.icon-flash:before {
  content: "\e950";
}
.icon-home1:before {
  content: "\e94e";
}
.icon-hat:before {
  content: "\e94f";
}
.icon-internet:before {
  content: "\e94d";
}
.icon-finance_mastercard_payment_icon .path1:before {
  content: "\e95d";
  color: rgb(255, 182, 0);
}
.icon-finance_mastercard_payment_icon .path2:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(247, 152, 29);
}
.icon-finance_mastercard_payment_icon .path3:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(255, 133, 0);
}
.icon-finance_mastercard_payment_icon .path4:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(255, 80, 80);
}
.icon-finance_mastercard_payment_icon .path5:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(229, 40, 54);
}
.icon-finance_mastercard_payment_icon .path6:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(203, 32, 38);
}
.icon-finance_mastercard_payment_icon .path7:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-finance_mastercard_payment_icon .path8:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-finance_mastercard_payment_icon .path9:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-finance_mastercard_payment_icon .path10:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-finance_mastercard_payment_icon .path11:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-finance_mastercard_payment_icon .path12:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-finance_mastercard_payment_icon .path13:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-finance_mastercard_payment_icon .path14:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-finance_mastercard_payment_icon .path15:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-finance_mastercard_payment_icon .path16:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-finance_mastercard_payment_icon .path17:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(220, 229, 229);
}
.icon-finance_mastercard_payment_icon .path18:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(220, 229, 229);
}
.icon-finance_mastercard_payment_icon .path19:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(220, 229, 229);
}
.icon-finance_mastercard_payment_icon .path20:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(220, 229, 229);
}
.icon-finance_mastercard_payment_icon .path21:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(220, 229, 229);
}
.icon-finance_mastercard_payment_icon .path22:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(220, 229, 229);
}
.icon-finance_mastercard_payment_icon .path23:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(220, 229, 229);
}
.icon-finance_mastercard_payment_icon .path24:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(220, 229, 229);
}
.icon-finance_mastercard_payment_icon .path25:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(220, 229, 229);
}
.icon-finance_mastercard_payment_icon .path26:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(220, 229, 229);
}
.icon-visa_icon .path1:before {
  content: "\e977";
  color: rgb(0, 91, 172);
}
.icon-visa_icon .path2:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(246, 172, 29);
}
.icon-cart:before {
  content: "\e94b";
}
.icon-tick:before {
  content: "\e94c";
}
.icon-master:before {
  content: "\e94a";
}
.icon-smartphone:before {
  content: "\e949";
}
.icon-fax-1:before {
  content: "\e944";
}
.icon-fax:before {
  content: "\e945";
}
.icon-mobile-1:before {
  content: "\e946";
}
.icon-mobile:before {
  content: "\e947";
}
.icon-whatsapp:before {
  content: "\e948";
}
.icon-tel:before {
  content: "\e901";
}
.icon-camera:before {
  content: "\e943";
}
.icon-world2:before {
  content: "\e941";
}
.icon-notification:before {
  content: "\e942";
}
.icon-telegram:before {
  content: "\e930";
}
.icon-threads:before {
  content: "\e93f";
}
.icon-messenger:before {
  content: "\e940";
}
.icon-heart-fill:before {
  content: "\e93c";
}
.icon-calendar:before {
  content: "\e92f";
}
.icon-eye:before {
  content: "\e931";
}
.icon-user2:before {
  content: "\e932";
}
.icon-location2:before {
  content: "\e933";
}
.icon-address:before {
  content: "\e933";
}
.icon-edit:before {
  content: "\e934";
}
.icon-key:before {
  content: "\e935";
}
.icon-close-circle:before {
  content: "\e936";
}
.icon-location21:before {
  content: "\e937";
}
.icon-logout:before {
  content: "\e938";
}
.icon-email:before {
  content: "\e939";
}
.icon-map:before {
  content: "\e93a";
}
.icon-upload:before {
  content: "\e93b";
}
.icon-phone-with-hand:before {
  content: "\e93d";
}
.icon-phone-nots:before {
  content: "\e93e";
}
.icon-heart:before {
  content: "\e927";
}
.icon-login:before {
  content: "\e928";
}
.icon-search2:before {
  content: "\e929";
}
.icon-settings:before {
  content: "\e92c";
}
.icon-shopping-bag:before {
  content: "\e92d";
}
.icon-user:before {
  content: "\e92e";
}
.icon-menu2:before {
  content: "\e925";
}
.icon-quote:before {
  content: "\e924";
}
.icon-search:before {
  content: "\e918";
}
.icon-mail:before {
  content: "\e921";
}
.icon-twitter:before {
  content: "\e917";
}
.icon-twitch:before {
  content: "\e91d";
}
.icon-email2:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-flickr:before {
  content: "\e906";
}
.icon-github:before {
  content: "\e907";
}
.icon-instagram:before {
  content: "\e908";
}
.icon-linkedin:before {
  content: "\e90c";
}
.icon-medium:before {
  content: "\e90d";
}
.icon-myspace:before {
  content: "\e90e";
}
.icon-pinterest:before {
  content: "\e910";
}
.icon-quora:before {
  content: "\e911";
}
.icon-reddit:before {
  content: "\e912";
}
.icon-snapchat:before {
  content: "\e914";
}
.icon-tiktok:before {
  content: "\e915";
}
.icon-vimeo:before {
  content: "\e919";
}
.icon-whatsapp1:before {
  content: "\e91a";
}
.icon-wikipedia:before {
  content: "\e91b";
}
.icon-youtube:before {
  content: "\e91c";
}
.icon-clock:before {
  content: "\e905";
}
.icon-arrow-left:before {
  content: "\e91f";
}
.icon-arrow-right:before {
  content: "\e916";
}
.icon-arrow-top:before {
  content: "\e922";
}
.icon-arrow-bottom:before {
  content: "\e923";
}
.icon-pdf-file:before {
  content: "\e920";
}
.icon-close:before {
  content: "\e92a";
}
.icon-phone:before {
  content: "\e90a";
}
.icon-menu:before {
  content: "\e926";
}
.icon-mobile1:before {
  content: "\e904";
}
.icon-download:before {
  content: "\e90b";
}
.icon-view:before {
  content: "\e909";
}
.icon-world:before {
  content: "\e92b";
}
.icon-plus:before {
  content: "\e90f";
}
.icon-minus:before {
  content: "\e96a";
}
.icon-home:before {
  content: "\e91e";
}
.icon-share:before {
  content: "\e913";
}
.icon-fax1:before {
  content: "\e900";
}
