html[dir="ltr"] :is(.icon-arrow-left, .icon-arrow-right) {transform: scaleX(-1)}
html[dir="ltr"] .blogs-section :is(.icon-arrow-right2, .icon-arrow-left2) {transform: scaleX(-1)}




html[dir="ltr"] .video-wrapper .image-play {transform: translate(-50%,-50%)}
html[dir="ltr"] .video-wrapper:hover .image-play {transform: translate(-50%, -50%) scale(1.1);}




html[dir="ltr"]  .custom-select {background-position: right 15px center;}

html[dir="ltr"] .sidebar-item a:hover span.icon-arrow-left {transform: scaleX(-1) translateX(-3px);}


html[dir="ltr"] .section-instruments-mechanisms .instrument-card .instrument-title:after {transform: translate(100%, -50%) scaleX(-1)}

html[dir="ltr"] .custom-select option {direction: ltr}

